# --- Archivos de Entorno y Configuración (Privados) ---
.env
.env.backup
.env.production
.phpactor.json
Homestead.json
Homestead.yaml

# --- Archivos de Sistema y Editores ---
.DS_Store
Thumbs.db
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpunit.result.cache
.phpunit.cache/

# --- Dependencias ---
/vendor
/node_modules

# --- Archivos Públicos Generados ---
/public/storage
/public/build
/public/hot

# --- Carpeta Storage  ---
*.log
/storage/*.key
/storage/pail
/storage/app/public/*

